#AnchorPane{
    -fx-background-image:url("hospital2.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    
}
#changePassword{
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #d32f2f;
}
.jfx-button{
    -fx-background-color: #d32f2f;
    -fx-background-radius: 0;
    -fx-text-fill: #E0E0E0;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

